################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphQlWithNetCore/GraphQlWithNetCore/obj
/GraphQlWithNetCore/GraphQlWithNetCore/bin
/GraphQlWithNetCore/.vs
/GraphQl-Client/.vs
/GraphQl-Client/GraphQl-Client/bin
/GraphQl-Client/GraphQl-Client/obj
