################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphQlWithNetCore/obj
/GraphQlWithNetCore/bin/Debug
/.vs
