################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphQlWithNetCore/GraphQlWithNetCore/obj
/GraphQlWithNetCore/GraphQlWithNetCore/bin/Debug
/GraphQlWithNetCore/.vs
